# Dim direnv status messages
export DIRENV_LOG_FORMAT=$'\033[2mdirenv: %s\033[0m'

# Watch the content of nix/.
watch_file nix/cmd-fmt.nix
watch_file nix/devshells.nix
watch_file nix/git-hooks.nix
watch_file nix/overlays.nix

# Load devshell from Flake.
use flake . -Lv
